/*|---------------| Colors |---------------|*/
$strongCyan: hsl(172, 67%, 45%);
$lightCyan: hsl(171, 32%, 66%);
$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan: hsl(186, 14%, 43%);
$darkGrayishCyan2: hsl(184, 14%, 56%);
$lightGrayishCyan: hsl(185, 41%, 84%);
$lightGrayishCyan2: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$orange: hsl(29, 86%, 31%);

/*|---------------| Fonts |---------------|*/
$font-sm: 0.75rem;  //12px
$font-md: 0.875rem; //14px
$font-lg: 1.125rem; //18px
$font-xl: 1.5rem;   //24px
$font-xxl: 2rem;    //32px

/*|---------------| Breakpoints |---------------|*/
// 640px, 1024px, 1400px
$breakpoints-up: ("medium": "40em", "large": "64em", "xlarge": "87.5em");

// 639px, 1023px, 1399px
$breakpoints-down: ("small": "39.9375", "medium": "63.9375em", "large": "87.4375em");

/*|---------------| Mixins |---------------|*/
@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}