.result {
  padding: 1.5rem;
  background-color: $veryDarkCyan;
  border-radius: 20px;
  margin-bottom: 0;

  @include breakpoint-up("large") {
    width: 26.25rem;
    padding: 3.125rem 2.5rem 1.5rem;
  }

  p {
    margin-bottom: 0;
    font-size: $font-xl;
    color: $strongCyan;
  }

  &__label {
    width: 100%;
    margin-bottom: 1.875rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    .title {
      display: block;
      margin-bottom: 0;

      p:first-child {
        color: $lightGrayishCyan2;
        font-size: $font-md;
      }

      p:last-child {
        color: $darkGrayishCyan;
        font-size: $font-sm;
      }
    }

    p {
      font-size: $font-xxl;
    }
  }

  &__label:nth-child(2) {
    @include breakpoint-up("large") {
      margin-bottom: 8.4375rem;
    }
  }

  &__reset {
    width: 100%;
    bottom: 0;
    font-size: $font-lg;
    background-color: $strongCyan;
    color: $veryDarkCyan;
  }
}
